/*
* Custom style for Control Tiempos
*/
.panel-footer {
    text-align: center;
    color: aqua !important;
}
.nav-pills{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
}